.allPage {
  width: 100%;
  height: 1000px;
  margin: -4px;
  padding: 0;
}
.header img {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  height: 632px;
  margin: -4px;
}
.header-menu {
  height: 100px;
  width: 100%;
  align-content: space-between;
  display: flex;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 5%;
  left: 0;
}
.header-menu li {
  vertical-align: middle;
  float: left;
}
.header-menu a {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 0 34px 0 30px;
  color: black;
  font-size: 15px;
  height: 100px;
  border: 0;
}
.flex-list-menu-left {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  margin-left: 4%;
}
.flex-list-menu-left a:hover {
  color: #82a4bf;
  border-bottom: 5px solid #82a4bf;
  padding-bottom: 37px;
  transition: 0.5s;
}
.flex-list-menu-right {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  margin-left: auto;
  align-items: center;
  margin-right: 4%;
}
.flex-list-menu-right li {
  margin-left: 25px;
}
.flex-list-menu-right a:hover {
  color: #82a4bf;
  border-bottom: 5px solid #82a4bf;
  padding-bottom: 37px;
  transition: 0.5s;
}
.login-button {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-image: url("../img/back-login.jpg");
  -webkit-background-size: 100%;
}
.login-button img {
  width: 115px;
  height: 100px;
  position: relative;
}
.login-button a {
  display: block;
  padding-top: 35%;
  text-align: center;
  color: white;
}
select {
  border: none;
  outline: none;
}
select:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("/put_k_strelke");
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0 auto;
}
.search-panel {
  width: 70%;
  height: 177px;
  position: absolute;
  top: 30%;
  margin-left: 13%;
}
.search-panel-field {
  height: 126px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.8);
}
.search-panel-field div {
  margin: 0 auto;
}
.search-panel-field select {
  -moz-appearance: none;
  border: none;
  position: relative;
  outline: none;
  padding: 8px;
  padding-right: 70px;
}
.search-panel-buttons {
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search-panel-buttons a {
  height: 100%;
  width: 50%;
  border: none;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
}
.search-panel-buttons img {
  height: 25px;
  width: 25px;
  float: left;
  text-align: center;
}
.search-panel-buttons .href-search img {
  padding: 15px 10px 0 200px;
}
.search-panel-buttons .href-contact img {
  padding: 15px 10px 0 160px;
}
.search-panel-buttons p {
  padding-top: 3px;
  float: left;
}
.search-panel-buttons .href-search {
  display: block;
  background-color: #82a4bf;
  background: rgba(130, 164, 191, 0.8);
}
.search-panel-buttons .href-contact {
  display: block;
  background-color: #bdb1aa;
  background: rgba(189, 177, 170, 0.8);
}
.info-hotel {
  margin-top: -4px;
  width: 100%;
  background-image: url("../img/back-info-hotel.jpg");
  color: white;
  font-size: 18px;
  text-align: center;
  float: left;
}
.info-hotel .info-hotel-text {
  width: 60%;
  width: 50%;
  margin: 0 auto;
}
.data-price {
  float: left;
  width: 100%;
  background-color: #c4b6ae;
}
.data-price p {
  padding-left: 4%;
}
